<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% getindividual.forEach(function(clean){ %>
        <div class="post">
            <h3><%= clean.shopname %></h3>
            <a href="/booknow" > </a>
        </div>
      
      <% }) %>
</body>
</html>