<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <h1>This is Register Screen. If you want to register Click here</h1>
    <a href="/quickaccess">Create Account</a>
    <form action="/register" method="post">
      <input type="text" name="username" placeholder= "username">
      <input type="text" name="name" placeholder="name">
      <input type="text" name="email" placeholder="email">
      <input type="text" name="location" placeholder="location">
      <input type="password" name="password" placeholder="password">
      <input type="submit" value="Create account">
    </form>
  </body>
</html>
